body{
    color: #82500D;
    height: 100vh;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
#calendarThis{
    margin: 16% auto;
    width: 294px;
    transition: box-shadow .25s;
    border-radius: 2px;
    padding: 3px 2px 2px 2px;
    background: #FFFCF9;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
    #calendarThis li{
        display: inline-block;
        padding: 13px 7px;
        width: 33px;
        border: #FFF9F2 1px solid;
        text-align: center;
        background: antiquewhite;
    }
    .month-container{
        width: 290px;
        display: block;
        text-align: center;
        padding: 13px 0;
        border: antiquewhite 2px solid;
        background: #fff;
        margin: 0 0 2px 0;
        font-weight: bold;
    }
    .today{
        background: #FFFDFA !important;
    }
    .arrow{
        width: 45px;
        margin: auto 0 auto 0;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
        .prev-arrow{
            height: 43px;
        }
        .next-arrow{
            height: 35px;
        }