body{
    color: #82500D;
    height: 100vh;
    margin: auto;
    text-align: center;
}
a{
    color:#d89f52;
}
pre{
    text-align:left;
    border: antiquewhite 1px solid;
    padding: 13px 33px;
}
hr{
    border: #d89f52 1px solid;
}

.container{
    text-align: left;
    width: 57%;
    margin: 7% auto 0;
}

#calendarThis{
    margin: 3% auto;
    display: inline-block;
    transition: box-shadow .25s;
    border-radius: 2px;
    padding: 9px 7px 9px 7px;
    background: #FFFCF9;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
    #calendarThis li, .day-of-week{
        display: inline-block;
        padding: 13px 7px;
        width: 33px;
        border: #FFF9F2 1px solid;
        text-align: center;
        background: antiquewhite;
        cursor: pointer;
    }
        #calendarThis li:hover{
            border: #F9E0B6 1px solid;
            background: #fff;
        }
.float-left, .day-view{
    float: left;
}
.float-right, .month-view{
    float: right;
}
.month-view ul{
    padding: 0;
    margin: 0 0 0 8px;
    text-align: left;
}

.day-view{
    text-align: center;
    font-weight: bold;
}
    .day-header{
        padding: 13px 0;
        border: antiquewhite 2px solid;
        background: #fff;
    }
    .day-number{
        display:block;
        margin: 10% auto;
        font-size: 144px;
        background: #fff;
        width: 83%;
        border-radius: 2px;
        border: #FFE2BB 1px dotted;
        position: relative;
        top: 64%;
        transform: translateY(12%);
    }

.day-view, .month-view{
    width: 357px;
    display: block;
}
.day-of-week{
    background: #FFFCF9 !important;
    font-weight: bold;
    border: #fff 1px solid;
    color: #D89F52;
}

.month-header{
    width: 99%;
    display: block;
    text-align: center;
    padding: 13px 0;
    border: antiquewhite 2px solid;
    background: #fff;
    margin: 0 0 2px 0;
    font-weight: bold;
}
.today{
    background: #FFFDFA !important;
}
.arrow{
    width: 45px;
    height: 35px;
    margin: auto 0 auto 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* Portrait and Landscape */
@media (max-width: 767px) {
    #calendarThis{
        width: 358px;
    }
}